<% if(typeof errors != 'undefined'){ %>
    <% errors.forEach(function(error){ %>
        <div class="alert alert-warning alert-dismissable fade show" role="alert">
            <strong>*</strong> <%= error.msg %>
            <button type="button" aria-label="Close" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    <% }); %>
<% } %>

<% if(success_msg != ''){ %>
        <div class="alert alert-success alert-dismissable fade show" role="alert">
            <strong></strong> <%= success_msg %>
            <button type="button" aria-label="Close" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
<% } %>

<% if(error_msg != ''){ %>
    <div class="alert alert-warning alert-dismissable fade show" role="alert">
        <strong>*</strong> <%= error_msg %>
        <button type="button" aria-label="Close" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<% if(error != ''){ %>
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
        <strong>*</strong> <%= error %>
        <button type="button" aria-label="Close" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>